@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
*,
*::after,
*::before {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root {
    --primary-cyan: hsl(179, 62%, 43%);
    --primary-light-cyan: hsl(179, 70%, 45%);
    --primary-bright-yellow: hsl(71, 73%, 54%);
    --neutral-grayish-blue: hsl(218, 22%, 67%);
    --neutral-light-grey: hsl(204, 43%, 93%);
}
body {
    font-family: "Karla", sans-serif;

    font-size: clamp(0.7rem, 2.5vw, 1rem);
    background-color: var(--neutral-light-grey);
    color: var(--neutral-grayish-blue);
    position: relative;
}
p {
    line-height: 1.4;
}
.container {
    max-width: 635px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    box-shadow: 0 0 15px -6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

.heading {
    color: var(--primary-cyan);
    font-size: clamp(1.2rem, 1.7vw, 1.48rem);
}

.header .brigth-yellow {
    color: var(--primary-bright-yellow);
    font-size: 1.12rem;
    margin: 28px 0 18px;
}

.btn {
    width: 100%;
    background-color: var(--primary-bright-yellow);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 0 0 15px -6px rgba(0, 0, 0, 0.5);
}

.header,
.subscription,
.info {
    padding: 40px 40px;
}

.header {
    grid-column: span 2;
    background-color: white;
    color: var(--neutral-grayish-blue);
}

.subscription {
    grid-column: span 1;
    background-color: var(--primary-cyan);
    color: var(--neutral-light-grey);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
span {
    font-weight: 700;
    font-size: 2.25rem;
    margin-right: 10px;
}
.subscription .text-large {
    margin: 2px 0;
    display: flex;
    align-items: center;
}
.info {
    grid-column: span 1;
    background-color: var(--primary-light-cyan);
    color: var(--neutral-light-grey);
}
.info h3 {
    margin-bottom: 20px;
}

/* MEDIA */
@media screen and (max-width: 780px) {
    body {
        padding: 10% 10%;
        text-align: center;
    }
    .header {
        grid-column: span 2;
    }

    .subscription {
        grid-column: span 2;
    }
    .subscription .text-large {
        justify-content: center;
    }
    .subscription .btn {
        width: 100%;
    }

    .info {
        grid-column: span 2;
    }
}

@media screen and (max-width: 480px) {
    body {
        text-align: left;
    }
    .container {
        min-width: 350px;
    }
    .subscription .text-large {
        justify-content: flex-start;
    }
    .subscription .btn {
        width: 100%;
    }
}
